body
/* this is the page settings*/
{
    /*width: 60%;*/
    margin: 0 auto;
}

main
{
    width: 60%;
<<<<<<< Updated upstream
    background-color: #B79D94;
=======
    background-color: #354A4A;
>>>>>>> Stashed changes
    padding-left: 20%;
    padding-right: 20%;
}



p
/* default/normal text*/
{
    font-size: 90%;
    font-family: 'Droid Sans';
    line-height: 150%;
    color:orange;
}




p.indented
/* add margins maybe?*/
{
    margin-left: 100px;
}

h1
/* large text*/
{
    font-family: sans-serif;
    font-size: 30px;
    line-height: 100%;
}

img
/* just centered */
{
margin:0 auto;
display:block;
line-height: 20%;
}

p.imgtag
/* subheadings under images */
{
    font-size: 120%;
    text-align: center;
    font-style: bold;
    color: #E75F35;
    line-height: 1%;
}

a
/* this styles the links */
{

}

section{
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    vertical-align: middle;
    padding-top: 5%;
}

.headtitle{
    background: #282828;
    color: #63CCCA;
    padding-bottom: 40px;
}
.headtitle h3{
    color: #E75F35;
    font-family: 'Droid Sans';
    font-size: 300%;
}